name: Generate Pac-Man Contribution Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate Pac-Man Animation
        uses: Platane/snk@v3
        with:
          github_user_name: aditya-sharma-hub
          outputs: |
            dist/github-contribution-grid-snake-dark.svg?palette=tokyo-night&pacman=true

      - name: Push Animation to Output Branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
